h1 {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: #1f306e 3px 3px, #222 5px 5px 5px;
  color: #f5487f;
}
* {
  margin: 0;
  padding: 0;
}
#tabuleiro {
  align-items: center;
  display: flex;
  flex-direction: column;
}
body {
  background-image: url("../assets/virus.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.caixa {
  margin: 2px;
  font-size: 25pt;
  background-color: #1f306e8d;
  border: 3px solid  #8f3b76;
  display: flex;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 3px;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
button {
  border: 1px solid #8f3b76;
  border-radius: 3px;
  color: white;
  background-color:#1f306ed4;
  padding: 10px;
}
.linha {
  display: flex;
  
}

#teclado {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#teclado div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col2 {
  margin: 0.1rem;
}

.botaoTeclado {
  font-size: 0.5rem;
  font-weight: 900;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}
.Voltar {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1f306e8d;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}
.voltarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
